<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title> Lab 7: Quote Finder </title>
  </head>
  <body>
  
    <h1> Search Results </h1>
  
      <% for(let i = 0; i< authors.length;i++) { %>
               <%= authors[i].quote %>
          <br>
          ~ <i>
              <%= authors[i].firstName %>
                  <%= authors[i].lastName %>
          </i>
                      <br><br>
         <% } %>
  
  
                  
  </body>
  </html>